/* set the whole page paddinng and margin zero  */
* {
    padding: 0;
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
}

#hero {
    background: url(../images/backgrounds/h_img.jpg) no-repeat center center/cover;
    height: 100vh;
    color: antiquewhite;
    text-transform: uppercase;
    width: 100;
    position: relative;
    
}

.mouse {
    /* margin-top: 350px; */
    position: absolute;
    top: 93vh;
    left: 50%;
}


h2 {
    text-align: center;
    margin-top: 50px;
}

#root {
    text-align: center;
    line-break: unset;
}


#services {
    background: url(../images/backgrounds/s_image.jpg);
    height: 350px;
    text-align: center;
    color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 35px;
}

 .bg-sucess {
   font-weight: bolder;
   text-transform: uppercase;
   color: #000000;
}

.align-self-end {
    font-weight: bolder;
    text-transform: uppercase;
}

.contract {
    margin-bottom: 100px;
}

h4, span {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 65px;
}

 #offer {
    background: url(../images/services_icons/dev_icon.png)
    
} 
 
/* @media (min-width: 600px) {
    p {
        font-size: 1.25rem;
    }
} */

.hidden1, .hidden2, .hidden3 {
    margin-right: 300px;
    margin-left: 120px;   
}

.head-show {
    display: none;
}

#phone {
    background: url(../images/backgrounds/c_image.jpg)
}

.phone {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
 .textarea {
     margin-bottom: 50px;
 }

#subject {
    margin-top: 50px;
    margin-left: 550px;
}

